.w-15 {
    width: 15%;
}

.w-95 {
    width: 95%;
}

.bg-gray {
    background-color: #e9ecef;
}

.bg-nav{
    background-color: rgba(0, 0, 0, 27%);
}

body {
    position: relative;
    background-image: url(/images/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 5rem;
}

body::after {
    content: '';
    display: block;
    height: 30px; /* Set same as footer's height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}

textarea {
    resize: none;
}

main {
    width: 100vw;
}

.img-thumb {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
}

.button-text-only {
    background-color: unset;
    border: none;
    cursor: pointer;
}

.bg-blur {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.mySticky {
    position: sticky;
    left: 0;
}

.width-fit-content {
    width: fit-content;
}

.normal-font-weight {
    font-weight: normal;
}

.category-btn {
    width: fit-content;
}

.container{
    width: 90%;
}

.container-400 {
    width: 400px;
    height: 400px;
}

@media (max-width: 430px) {
    .container-400 {
        width: 90vw;
        height: 90vw;
    }
}

.offer {
    width: fit-content;
    max-width: 412px;
    height: fit-content;
    border: solid 2px black;
    background-color: rgba(128, 128, 128, 0.55);
}

@media (max-width: 430px) {
    .offer {
        width: fit-content;
        max-width: 95vw;
        height: fit-content;
        border: solid 2px black;
        background-color: rgba(128, 128, 128, 0.55);
    }
}

.offer-image {
    width: 396px;
    height: 396px;
    object-fit: contain;
}

@media (max-width: 430px) {
    .offer-image {
        max-width: calc(90vw - 4px);
        max-height: calc(90vw - 4px);
    }
}

.offer-image-container {
    border: solid 2px black;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.form-adaptive {
    width: 80%!important;
}

@media (min-width: 600px) {
    .form-adaptive {
        width: 50%!important;
    }
}

@media (min-width: 1300px) {
    .form-adaptive {
        width: 25%!important;
    }
}

table.rounded-corners {
    /* Change these properties */
    --border: 2px solid black;
    border-radius: 10px;

    /* Don't change these properties */
    border-spacing: 0;
    border-collapse: separate;
    border: var(--border);
    overflow: hidden;
}

table.rounded-corners th {
    background-color: rgba(138, 138, 138, 0.5);
    padding: 7px;
}

table.rounded-corners td {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 7px;
}

/* Apply a border to the right of all but the last column */
table.rounded-corners th:not(:last-child),
table.rounded-corners td:not(:last-child) {
    border-right: var(--border);
}

/* Apply a border to the bottom of all but the last row */
table.rounded-corners>thead>tr:not(:last-child)>th,
table.rounded-corners>thead>tr:not(:last-child)>td,
table.rounded-corners>tbody>tr:not(:last-child)>th,
table.rounded-corners>tbody>tr:not(:last-child)>td,
table.rounded-corners>tfoot>tr:not(:last-child)>th,
table.rounded-corners>tfoot>tr:not(:last-child)>td,
table.rounded-corners>tr:not(:last-child)>td,
table.rounded-corners>tr:not(:last-child)>th,
table.rounded-corners>thead:not(:last-child),
table.rounded-corners>tbody:not(:last-child),
table.rounded-corners>tfoot:not(:last-child) {
    border-bottom: var(--border);
}

.offer-style-table {
    width: 500px;
}

@media (max-width: 550px) {
    .offer-style-table {
        width: 90vw;
    }
}

.text-stroke{
    text-shadow:
            0.07em 0 white,
            0 0.07em white,
            -0.07em 0 white,
            0 -0.07em white;
}

.text-shadow-small {
    text-shadow: 1px 1px 2px black;
}

.my-text-color{
    color: #ffc107;
}

.no-link-underline {
    text-decoration: none;
}

.badge-secondary{
    background-color: #720a75;
}
