<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="container bg-blur rounded-4 mt-5 shadow">
        <h1>Welcome to Pazar.bg</h1>
        <hr class="my-3 mx-auto bg-white w-75"/>

        <p class="h4">
            Pazar.bg is an online marketplace for all kinds of goods. Here you can browse thousands of offers,
            uploaded by people all across Bulgaria. You can send private messages to sellers to ask for offer details
            before buying, and the seller can reply. After you buy an offer, you can see it in the "Bought offers" page.
            You can also upload your own offers for others to see and buy.
        </p>
        <hr class="my-3 mx-auto bg-white w-75"/>

        <h3>
            <a class="text-primary" th:href="@{/users/login}">Login</a>
            if you have an account or
            <a class="text-primary" th:href="@{/users/register}">Register</a>
            now and check our offers.
        </h3>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>