<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="container bg-blur rounded-4 mt-5 shadow">
        <h1>Welcome to Pazar.bg</h1>
        <hr class="my-3 mx-auto bg-white w-75"/>

        <p class="h4">
            Pazar.bg is an online marketplace for all kinds of goods. Here you can browse thousands of offers,
            made by people all across Bulgaria. When you buy something, you can leave a comment on the offer's page, for other buyers to see.
            In these comments tell people how satisfied you are with your purchase and potentially warn future buyers,
            when there is something wrong. You can also send private messages to sellers, to ask for details on a given offer,
            or to give feedback about your purchase.
            You can also create offers and sell items you own.
        </p>
        <hr class="my-3 mx-auto bg-white w-75"/>

        <h3>
            <a class="text-primary" th:href="@{/users/login}">Login</a>
            if you have an account or
            <a class="text-primary" th:href="@{/users/register}">Register</a>
            now and check our offers.
        </h3>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>