<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main class="row p-4">
    <h1 class="text-center display-5"><span class="badge bg-secondary rounded-4 shadow mb-2">Messages</span></h1>

    <form class="width-fit-content py-2" th:each="message : ${messages}" th:action="@{/messages/reply/{id}(id=${message.getId()})}" th:method="POST">
    <table class="rounded-corners offer-style-table">
        <tr>
            <th class="h4">From:</th>
            <td class="h4 normal-font-weight" th:text="${message.getFrom() + (message.isReply() ? ' (Seller)' : '')}"></td>
        </tr>
        <tr>
            <th class="h4">Offer:</th>
            <td class="h4 normal-font-weight" th:text="${message.getOfferTitle()}"></td>
        </tr>
        <tr>
            <th class="h4" th:text="${message.isReply() ? 'Reply:' : 'Message:'}"></th>
            <td class="text-break h4 normal-font-weight" th:text="${message.getContent()}"></td>
        </tr>
        <tr th:unless="${message.isReply()}">
            <th>
                <div class="button-holder d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary shadow">Reply to sender</button>
                </div>
            </th>
            <td>
                <textarea class="form-control" id="message" name="message"></textarea>
            </td>
        </tr>
    </table>
    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
